*{
    direction: ltr;
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: black;
}

.main-container{
    font-size: 1em;
    width: 100%;
}

    /* phone */

.phone{
    background-color: rgba(0,0,0,.03);
    width: 400px;
    min-height: 100vh;
    margin: 0px auto;
}

/* footer */

.main-container .phone .footer{
    position: fixed;
    bottom: 0px;
    background-color: white;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   
}

.footer a{

}
.footer i{
  font-size: 1.4em;
}
.footer .img-container{
  border: 1px solid #333;
  border-radius: 50%;
  padding: 3px;
}
.footer .img-container a{

}
.footer .img-container img{
  width:35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
}