* {
    direction: ltr;
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: black;
}

.main-container {
    font-size: 1em;
    width: 100%;
    
}

/* phone */

.phone {
    background-color: rgba(0, 0, 0, .03);
    width: 400px;
    min-height: 100vh;
    margin: 0px auto;
}

/* footer */

.main-container .phone .footer {
    position: fixed;
    bottom: 0px;
    background-color: white;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}

.footer a {}

.footer i {
    font-size: 1.4em;
}

.footer .img-container {
    border: 1px solid #333;
    border-radius: 50%;
    padding: 3px;
}

.footer .img-container a {}

.footer .img-container img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
}

/* head-nav */

.head-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.head-nav .right {}

.head-nav .right .id {
    font-weight: bold;
    font-size: 1.3em;
    color: #333;
}

.head-nav .right a {}

.head-nav .right i {
    font-size: 1.5em;
}

.head-nav .left {}

.head-nav .left a {}

.head-nav .left i {
    font-size: 1.5em;
}

/* profile */

.profile {}

.profile .info {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.profile .info .img-container {
    position: relative;
}

.profile .info .img-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile .info .img-container a {}

.profile .info .img-container i {
    color: #3498db;
    position: absolute;
    bottom: 7px;
    right: 1px;
    font-size: 1.2em;
}

.profile .info .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile .item .num {
    font-weight: bold;
}

.profile .item .disc {
    color: #333;
}
.profile .caption{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}
.profile .caption .id{
    color: #333;
    font-weight: bold;
}
.profile .caption .tag{
   color: #3498db;
}

/* Edit Profile Button */
.profile .edit-profile{
    display: block;
    background-color: white;
    padding:6px 0px ;
    text-align: center;
    color: #333;
    font-weight: bold;
    border-radius: 6px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, .2);
}

/* story */
.story{
    display:flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);

}
.story .new-story{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.story .new-story .add{
   font-size: 3em;
   width: 60px;
   height: 60px;
   border-radius: 50%;
   border: 1px solid #333;
   margin-top: 3px;
   display: flex;
   justify-content: center;
   align-items: center;
    
   
}
.story .new-story span{
    margin-top: 5px;
    color: #333;
}

.story .story-highlight{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin-left: 15px;
}
.story .story-highlight .image-container{
   border:1px solid #666;
   padding: 4px;
   border-radius: 50%;
   display: flex;
    
}
.story .story-highlight .image-container img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    
}

.story .story-highlight span{
  margin-top: 5px;
  color: #333;
}

/* nav-bar */

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar div{
    flex: 1;
    text-align: center;
}

.nav-bar i{
   font-size: 1.5em;
   color: #777;
   padding: 15px;
}

.nav-bar .grid{
  border-bottom: 1.5px solid #333;

}

.nav-bar .grid i {
    color: #333 !important;
    cursor: pointer;
}
.nav-bar .usertag{

}

.nav-bar .usertag i{
  cursor: pointer;
}

/* posts */

.posts{
 display: grid;
 grid-template-columns: repeat(auto-fit , minmax(100px , 1fr));
 gap: 2px;
 padding-bottom: 100px;
 padding-top: 10px;
}

.posts img{
 height: 100%;
 width: 100%;
 
}